.nav-bar {
  display: flex;
  padding: 1rem;
  position: fixed;
  top: 20px;
  z-index: 3;
}
a {
  color: gold;
  text-decoration: none;
}
a:link {
  color: rgb(10, 10, 10);
}
a:visited {
  color: white;
  background-color: aliceblue;
}
a:hover {
  color: bisque;
  font-size: larger;
}
a::before {
  content: url("./apple-touch-icon.png");
}
a:active {
  color: red;
}

body {
  background-color: black;
}
.header-img {
  height: 25em;
  width: 100%;
  border-radius: 2rem;
  transform-style: preserve-3d;
  outline: solid 1px transparent;
  margin: 0px auto 0px auto;
  min-height: 142px;
  padding: 15px 15px 22px 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
  white-space: nowrap;
  object-fit: cover;
}
.header-card {
  text-align: center;
}

@keyframes strobe {
  0% {
    transform: skew(6deg, 0deg) scaleX(1);
  }
  10% {
    transform: skew(1deg, 0deg) scaleY(0.9);
  }
  50% {
    transform: skew(-4deg, 0deg) scaleX(1);
  }
  60% {
    transform: skew(-1deg, 0deg) scaleY(0.9);
  }
  100% {
    transform: skew(6deg, 0deg) scaleX(1);
  }
}
.header-title {
  font-family: "Times New Roman", Times, serif;
  transform-origin: bottom;
  animation: strobe 1s infinite;
  animation-delay: 0s, 0.5s;
  color: rgb(177, 172, 154);
  font-size: xx-large;
  z-index: 4;
}
.table {
  margin-top: 0;
}
.cart-card {
  /* position: absolute;
  z-index: 2; */
  width: 45%;
  /* left: 20em;
  top: 25em; */
  color: black;
  border-radius: 2rem;
  text-align: center;
}
h2 {
  animation: strobe 1s infinite;
  animation-delay: 0s, 0.5s;
}
.menu {
  box-shadow: 10px 5px 5px grey;
  border-radius: 1rem;
  background-color: beige;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
button {
  padding: 0.7em;
  border-radius: 0.5rem;
  color: white;
  background-color: green;
  box-shadow: 10px 5px 5px grey;
}
button:hover {
  animation: strobe 1s infinite;
  animation-delay: 0s, 0.5s;
}
button:active {
  font-size: large;
}
.cart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 50%;
}
.acount {
  position: fixed;
  top: 0;
  right: 2%;
  color: white;
  background-color: rgb(49, 47, 47);
  border: 1px solid wheat;
  border-radius: 2rem;
  padding: 0.2rem 0.5rem;
  z-index: 3;
}
.btn {
  box-shadow: none;
  margin-left: 1rem;
  font-size: x-small;
}
.acount:hover {
  box-shadow: 10px 5px 5px yellow;
  transform: scale(1.1);
}
.total::before {
  content: "$";
}
li {
  list-style-type: none;
  margin: 0.5rem;
}
