.nav-bar {
  display: flex;
  justify-content: center;
  background-color: rgba(26, 14, 14, 0.832);
  margin-bottom: 1rem;
  padding: 1rem;
  position: sticky;
  top: 20px;
  z-index: 3;
}
a {
  color: gold;
  text-decoration: none;
}
a:link {
  color: rgb(10, 10, 10);
}
a:visited {
  color: white;
  background-color: aliceblue;
}
a:hover {
  color: bisque;
  font-size: larger;
}
a::before {
  content: url("./apple-touch-icon.png");
}
a:active {
  color: red;
}

body {
  background-color: black;
}
.header-img {
  height: 25em;
  width: 100%;
  border-radius: 2rem;
  transform-style: preserve-3d;
  outline: solid 1px transparent;
  margin: 0px auto 0px auto;
  min-height: 142px;
  padding: 15px 15px 22px 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
  white-space: nowrap;
}
.header-card {
  text-align: center;
}

@keyframes strobe {
  0% {
    transform: skew(6deg, 0deg) scaleX(1);
  }
  10% {
    transform: skew(1deg, 0deg) scaleY(0.9);
  }
  50% {
    transform: skew(-4deg, 0deg) scaleX(1);
  }
  60% {
    transform: skew(-1deg, 0deg) scaleY(0.9);
  }
  100% {
    transform: skew(6deg, 0deg) scaleX(1);
  }
}
.header-title {
  font-family: "Times New Roman", Times, serif;
  transform-origin: bottom;
  animation: strobe 1s infinite;
  animation-delay: 0s, 0.5s;
  color: rgb(177, 172, 154);
  font-size: xx-large;
}
.table {
  margin-top: 0;
}
.cart-card {
  position: absolute;
  z-index: 2;
  width: 60%;
  left: 20em;
  top: 25em;
  color: black;
  border-radius: 2rem;
  text-align: center;
}
h2 {
  animation: strobe 1s infinite;
  animation-delay: 0s, 0.5s;
}
.menu {
  box-shadow: 10px 5px 5px grey;
  border-radius: 1rem;
  background-color: beige;
  padding: 0.5rem;
  margin: 1rem;
}
button {
  padding: 0.5em;
  border-radius: 1rem;
  color: white;
  background-color: green;
  box-shadow: 10px 5px 5px grey;
}
button:hover {
  animation: strobe 1s infinite;
  animation-delay: 0s, 0.5s;
}
button:active {
  font-size: large;
}
