.title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  transform-origin: bottom;
  animation: strobe 1s infinite;
  animation-delay: 0s, 0.5s;
  color: rgb(177, 172, 154);
  font-size: xx-large;
}
img {
  width: 30%;
  height: 250px;
  margin: 1.2rem;
  border-radius: 1rem;
  box-shadow: 10px 5px 5px grey;
}
.container-blog {
  background-color: black;
  border-radius: 1rem;
}
body {
  background-color: black;
}
.nav-bar {
  display: flex;
  justify-content: center;
  background-color: rgba(26, 14, 14, 0.832);
  margin-bottom: 1rem;
  padding: 1rem;
  position: sticky;
  top: 20px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: bisque;
  font-size: larger;
}
@keyframes strobe {
  0% {
    transform: skew(6deg, 0deg) scaleX(1);
  }
  10% {
    transform: skew(1deg, 0deg) scaleY(0.9);
  }
  50% {
    transform: skew(-4deg, 0deg) scaleX(1);
  }
  60% {
    transform: skew(-1deg, 0deg) scaleY(0.9);
  }
  100% {
    transform: skew(6deg, 0deg) scaleX(1);
  }
}
