.card {
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 10px 5px 5px grey;
  display: inline-block;
  margin-top: 5%;
  margin-left: 2rem;
  width: 40%;
  justify-content: center;
  background-color: white;
}
body {
  background-color: black;
}
section {
  /*   justify-content: space-between;
 */
  text-align: center;
}
.nav-bar {
  display: flex;
  justify-content: center;
  background-color: rgba(26, 14, 14, 0.832);
  margin-bottom: 1rem;
  padding: 1rem;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: bisque;
  font-size: larger;
}
